@import "variables";

@import "./components/exhibits.scss";
@import "./components/list.scss";
@import "./components/table.scss";

@import "./pages/page1.scss";
@import "./pages/page2.scss";
@import "./pages/page3.scss";
@import "./pages/page4.scss";
@import "./pages/page5.scss";
@import "./pages/page6.scss";
@import "./pages/page7.scss";
@import "./pages/page8.scss";
@import "./pages/page9.scss";
@import "./pages/page10.scss";
@import "./pages/page11.scss";
@import "./pages/page12.scss";
@import "./pages/page13.scss";
@import "./pages/page14.scss";
@import "./pages/page15.scss";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
}

.page {
  padding: 50px;
  width: 100vw;
  height: 141vw;
  background: rgba(255, 246, 239, 1);
}

.page.background--white {
  background: white;
}

.page-start {
  page-break-before: always;
}

.name {
  color: #fff;
}

.page--main-header {
  font-size: 36px;
  color: rgba(59, 150, 139, 1);
  font-weight: 600;
  margin-left: 50px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.page--main--header--light {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(59, 150, 139, 1);
  margin-bottom: 5px;
  line-height: 1.5;
}

.text--green {
  color: rgba(59, 150, 139, 1);
}

.page--main--header-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
