@import "variables";

@import "./components/exhibits.scss";
@import "./components/list.scss";
@import "./components/table.scss";

@import "./pages/page1.scss";
@import "./pages/page2.scss";
@import "./pages/page3.scss";
@import "./pages/page4.scss";
@import "./pages/page5.scss";
@import "./pages/page6.scss";
@import "./pages/page7.scss";
@import "./pages/page8.scss";
@import "./pages/page9.scss";
@import "./pages/page10.scss";
@import "./pages/page11.scss";
@import "./pages/page12.scss";
@import "./pages/page13.scss";
@import "./pages/page14.scss";
@import "./pages/page15.scss";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 40px;
}

.page {
  padding: 150px;
  width: 2480px;
  height: 3508px;
  background: rgba(255, 246, 239, 1);
  position: relative;

  &__number {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 9999;
    p {
      margin: 0;
      font-size: 40px;
      padding-right: 0 !important;
    }
    img {
      height: 40px;
      width: auto;
      margin-right: 30px;
    }
    bottom: 80px;
    right: 60px;
  }
}

.page.background--white {
  background: white;
}

.page-start {
  page-break-before: always;
}

.name {
  color: #fff;
}

.page--main-header {
  font-size: 72px;
  color: rgba(59, 150, 139, 1);
  font-weight: 600;
  margin-left: 100px;
  margin-top: 500px;
  margin-bottom: 200px;
}

.page--main--header--light {
  margin-top: 50px;
  font-size: 72px;
  font-weight: 400;
  color: rgba(59, 150, 139, 1);
  margin-bottom: 20px;
  line-height: 1.5;
}

.text--green {
  color: rgba(59, 150, 139, 1);
}

.page--main--header-description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 32px;
  padding-right: 100px;
}

.text--white {
  color: white;
}
