* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
}

.page {
  padding: 50px;
  width: 100vw;
  height: 141vw;
  background: rgba(255, 246, 239, 1);
}

.page.background--white {
  background: white;
}

.page-start {
  page-break-before: always;
}

.name {
  color: #fff;
}

.page-1 .logo {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
  height: 70px;
  width: auto;
}

.page-1 .divider {
  width: 140px;
  margin-left: 150px;
  height: 8px;
  background: rgba(59, 150, 139, 1);
}

.page--main-header {
  font-size: 36px;
  color: rgba(59, 150, 139, 1);
  font-weight: 600;
}

.page-2 h1 {
  margin-left: 100px;
  margin-top: 250px;
}

.table-content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-content--row {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.table-content--row:last-child {
  height: 36px;
}

.table-content--row:last-child .table-content--row__divider {
  height: 36px;
}

.table-content--row__number {
  width: 36px;
  line-height: 1;
}

.table-content--row__number p {
  margin: 0;
}

.table-content--row__divider {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
}

.table-content--row__divider__divider {
  height: 100%;
  width: 8px;
  background: #ffe8c8;
}

.table-content--row__text {
  width: 364px;
  font-size: 18px;
  font-weight: 600;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-content--row__text.row__subtitle {
  padding-left: 40px;
}

.v2_45 {
  margin-top: 100px;
  margin-left: 150px;
  width: 50%;
  color: rgba(59, 150, 139, 1);
  font-weight: 600;
  font-size: 36px;
  opacity: 1;
}

.v2_47 {
  width: 382px;
  color: rgba(0, 0, 0, 1);
  margin-top: 500px;
  margin-left: 150px;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v2_542 {
  margin-top: 20px;
  font-weight: Regular;
  opacity: 1;
  font-size: 18px;
}

.methodology {
  color: rgba(59, 150, 139, 1);
  font-size: 18px;
}

.table__section {
  margin-top: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: 0;
}

.table__header {
  width: 100%;
  border: 1px solid #000;
  border-bottom: none;
  background: rgba(59, 150, 139, 0.5);
  margin-top: 0;
}

.table__header h4 {
  margin: 0;
  font-size: 20px;
  line-height: 1.25;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
}

tr {
  display: flex;
}

th,
td {
  border: 1px solid #000;
  line-height: 1.2;
  flex: 1;
}

.width--40 {
  flex: 2;
}

.text--green {
  color: rgba(59, 150, 139, 1);
}

.cost-savings-chart {
  width: 450;
  height: 400px;
  margin: 50px auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.cost-savings-chart__top,
.cost-savings-chart__bottom {
  display: flex;
  width: 100%;
  flex: 1;
}

.cost-savings-chart__top .cost-savings-chart__chart {
  border-bottom: 5px solid #000;
}

.cost-savings-chart__legend {
  flex-basis: 120px;
}

.cost-savings-chart__chart {
  display: flex;
  flex: 1;
}

.cost-savings-chart__chart--bar {
  width: 35px;
  height: 100%;
  position: relative;
  color: white;
}

#bar-chart-a {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  height: 50%;
}

.bar-a,
.bar-c,
.bar-d {
  margin-left: 80px;
}

.bar-b {
  margin-left: 160px;
}

#bar-chart-c {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  height: 100%;
}

#bar-chart-b {
  height: 75%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  bottom: 0;
}

#bar-chart-d {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  bottom: 0;
}
