.page-13 {
  overflow: hidden;
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;
    img {
      width: calc(100% + 20px);
      margin-left: -10px;
      height: auto;
      object-fit: cover;
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    padding: 150px;
    h1 {
      margin: 0;
      font-size: 66px;
      line-height: 1.5;
    }
  }
}
