.cost-savings-chart {
  width: 1300px;
  height: 1500px;
  margin: 250px auto;
  margin-bottom: 400px;

  display: flex;
  flex-direction: column;
  position: relative;

  &__legend-arrow {
    position: absolute;
    height: 60%;
    left: 180px;
    top: 20%;

    img {
      height: 100%;
    }
  }
}

.cost-savings-chart__top,
.cost-savings-chart__bottom {
  display: flex;
  width: 100%;
  flex: 1;
}

.cost-savings-chart__top .cost-savings-chart__chart {
  border-bottom: 10px solid #000;
}

.cost-savings-chart__legend {
  flex-basis: 268px;
  padding-top: 280px;
  padding-right: 120px;
}

.cost-savings-chart__chart {
  display: flex;
  flex: 1;
}

.cost-savings-chart__chart--bar {
  width: 120px;
  height: 100%;
  position: relative;
  color: white;
}

#bar-chart-a {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  height: 50%;
}

.bar-a,
.bar-c,
.bar-d {
  margin-left: 200px;
}

.bar-b,
.bar-d {
  display: flex;
  align-items: flex-end;
}

.bar-a,
.bar-c {
  display: flex;
  align-items: flex-start;
}

.bar__bg {
  position: relative;
}

.bar-b--number,
.bar-d--number {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: black;
}

.bar-a--number,
.bar-c--number {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: black;
}

.bar-b__legend,
.bar-d__legend,
.bar-a__legend,
.bar-c__legend {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  margin: 0;
  z-index: 100;
}

.bar-b {
  margin-left: 400px;
}

#bar-chart-c {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  height: 100%;
}

#bar-chart-b {
  height: 75%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  bottom: 0;
}

#bar-chart-d {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(59, 150, 139, 1);
  content: "";
  bottom: 0;
}

.cost-savings {
  &__table {
    display: flex;
    flex-wrap: wrap;

    &__cell {
      width: 50%;

      &__heading {
        display: flex;
        align-items: center;
        color: $mint;
        font-size: 44px;
        margin-bottom: 24px;
        p {
          margin: 0;
        }

        &__large {
          font-size: 60px;
          font-weight: 900;
          margin-right: 60px !important;
        }
      }
      &__content {
        padding-left: 100px;
        padding-bottom: 120px;
        font-size: 36px;
        p {
          margin: 0;
          padding-right: 200px;
        }
      }
    }
  }
}
