.page-7 {
  padding-left: 80px !important;
  padding-right: 80px !important;
  &__subtitle {
    font-size: 32px;
    padding-left: 90px;
    margin: 0;
    line-height: 1.5;
  }

  .page--main--header--light {
    padding-left: 90px;
  }
  .exhibit-c {
    margin-top: 100px;
    .exhibit__exhibit-number,
    .exhibit__title,
    .exhibit__small-text {
      padding-left: 150px;
    }
    &__main {
      margin-top: 60px;
      &__row {
        display: flex;
        align-items: stretch;
        &__image {
          height: 300px;
          width: 300px;
          border-radius: 100%;
          background: rgba($mint, 0.5);
          margin: 30px auto;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 90px;
            height: auto;
          }
        }
        &__cell {
          width: 20%;
          padding: 0 30px;
          padding-bottom: 90px;

          &.narrow {
            width: 15%;
          }
          &.wide {
            width: 25%;
          }
          &.header__cell {
            font-weight: 400;
            color: $mint;
            text-align: center;
            font-size: 42px;
            margin: 0;
            padding: 0 !important;
          }
          &.row__header {
            font-size: 42px;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 60px;
          }
          &.row__content {
            font-size: 30px;
            line-height: 1.25;
            border-left: 8px solid black;
          }
        }
      }
    }
  }
}
