.page-10 {
  position: relative;
  overflow-x: hidden;
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    bottom: 0;
    background: $mint;
    padding: 240px 150px;

    h1 {
      color: white;
      font-size: 90px;
      line-height: 1.5;
      margin-bottom: 50px;
    }
    p {
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
      font-size: 36px;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    bottom: 0;
    background: $mint;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      object-position: left;
    }
  }
}
