$page-1-margin-left: 500px;
.page-1 .logo {
  margin-top: 160px;
  margin-left: 150px;
  margin-bottom: 220px;
  height: 140px;
  width: auto;
}

.page-1 .divider {
  width: 300px;
  margin-left: $page-1-margin-left;
  height: 20px;
  background: $mint;
}

.v2_45 {
  margin-top: 220px;
  margin-left: $page-1-margin-left;
  width: 60%;
  color: $mint;
  font-weight: 600;
  font-size: 108px;
  opacity: 1;
  line-height: 1.3;
}

.v2_47 {
  width: 600px;
  color: rgba(0, 0, 0, 1);
  margin-top: 1500px;
  margin-left: $page-1-margin-left;
  font-weight: 600;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
