.page-9 {
  position: relative;
  overflow: hidden;
  .page--main-header {
    font-size: 72px;
    margin-top: 100px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55%;
    img {
      width: calc(100% + 20px);
      object-fit: cover;
      object-position: -10px;
    }
  }
}
