.page-1 .logo {
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 80px;
  height: 70px;
  width: auto;
}

.page-1 .divider {
  width: 140px;
  margin-left: 150px;
  height: 5px;
  background: $mint;
}

.v2_45 {
  margin-top: 80px;
  margin-left: 150px;
  width: 60%;
  color: $mint;
  font-weight: 600;
  font-size: 30px;
  opacity: 1;
}

.v2_47 {
  width: 382px;
  color: rgba(0, 0, 0, 1);
  margin-top: 300px;
  margin-left: 150px;
  font-weight: 600;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
