.page-6 {
  &__header {
    margin: 30px 0;
  }
  &__title {
    line-height: 1.5;
    padding-right: 100px;
    margin: 0;
  }
}

.exhibit-b {
  &__main {
    margin-top: 100px;
  }
  &__table {
    margin-bottom: 60px;
    margin-top: 60px;
    &__row {
      display: flex;
      align-items: flex-start;
      font-size: 30px;
      border-bottom: $yellow-border-small;
      line-height: 1.5;
      padding-top: 24px;
      padding-bottom: 24px;

      &:last-child {
        border-bottom: none;
      }
      &__category {
        width: 30%;
        padding-right: 30px;
        display: flex;
        img {
          width: 72px;
          height: 72px;
          margin-right: 24px;
        }
      }
      &__task {
        width: 40%;
        padding-right: 30px;
      }
      &__manifest-help {
        width: 40%;
        font-weight: 700;
      }
    }
    &__header {
      font-weight: 700;
      font-size: 36px;
      padding-bottom: 12px;
    }
  }
  &__remarks {
    font-size: 24px;
    text-align: center;
    text-decoration: italic;
  }
}
