$yellow: #fffde5;
.page-5 {
  h1 {
    width: 90%;
    margin-bottom: 10px;
  }
  .width--80 {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 300;
  }

  .exhibit-a {
    width: 100%;
    padding: 10px;
    background: rgba($yellow, 0.4);
    padding-bottom: 20px;
    margin-top: 20px;

    &__main {
      margin: 10px 0;
      border-top: $yellow-border;
      border-bottom: $yellow-border;
      padding: 10px 0;
      display: flex;

      &__left {
        border-right: $yellow-border;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 5px;
        &__title {
          font-size: 28px;
          font-weight: 700;
          line-height: 2;
          margin-bottom: 10px;
          text-align: left;
        }
        &__subtitle {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
        }
        p {
          margin: 0;
          line-height: 1.5;
        }
      }
      &__right {
        width: 70%;
        padding: 0 5px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        &__card {
          width: 33%;
          background: $mint;
          padding: 8px;
          margin-top: 5px;
          margin-bottom: 5px;
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 10px;
          }

          &.card-bg--3 {
            background: rgba($mint, 0.3);
          }
          &.card-bg--5 {
            background: rgba($mint, 0.5);
          }
          &.card-bg--7 {
            background: rgba($mint, 0.7);
          }
          &.card-bg--9 {
            background: rgba($mint, 0.9);
          }
        }
      }
    }
  }
}
