.exhibit {
  width: 100%;
  padding: 100px;
  background: rgba($yellow, 0.4);
  margin-top: 100px;

  &__exhibit-number {
    margin: 0;
    font-size: 36px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: $mint;
    margin-bottom: 0;
    margin-top: 0;
  }
  &__small-text {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    padding-right: 40px;
  }
  &__value {
    font-size: 12px;
  }
}
