ul.feature-lists {
  padding-left: 100px;
  color: $mint;
  margin-bottom: 50px;
  padding-right: 60px;
  li {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
  }
}
.demo {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  a {
    text-decoration: underline;
    color: black;
  }
}
